@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Rubik:wght@500&display=swap");

.bg {
    background-image: url("/public/bg.png");
    background-size: cover;
    height: 100vh;
    padding: 5vh 10vw;
    font-family: 'Montserrat', sans-serif;

}

.container {
    background-color: white;
    border-radius: 1vw;
}

@media screen and (max-width: 1000px) {
    .bg {
        padding: 4vh 8vw;
    }
}

@media screen and (max-width: 768px) {
    .bg {
        padding: 2.5vh 5vw;
    }
}

@media screen and (max-width: 500px) {
    .bg {
        padding: 1vh 2vw;
    }
}

/* @media screen and (max-width: 768px) {
    .bg {
        padding: 2.5vh 5vw;
    }
} */

.header {
    border-start-end-radius: 1vw;
    border-start-start-radius: 1vw;
    padding: 3vh 5vw;
    background-color: rgb(63, 164, 253);
    border-bottom: 4px solid rgb(5, 5, 121);
}

.heading {
    color: white;
}

.members {
    color: white;
}

.expenses {
    max-height: 58vh;
    overflow: auto;
    white-space: nowrap;
}

@media screen and (max-width: 1000px) {
    .expenses {
        max-height: 60vh;
    }
}

@media screen and (max-width: 768px) {
    .expenses {
        max-height: 63vh;
    }
}

@media screen and (max-width: 500px) {
    .expenses {
        max-height: 66vh;
    }
}

.expense {
    display: grid;
    border: 1px solid grey;
    border-bottom: 2px solid grey;
    border-radius: .5vh;
    margin: 2vh 0;
    padding: 2vh 0;
    width: 100%;
    grid-template-columns: 0.5fr 1.5fr 3fr 3fr 4fr;
}

@media screen and (max-width: 650px) {
    .expense {
        padding: 1vh 0;
    }
}

.expense_date_header {
    grid-column: 2/3;
}

.expenseDate {
    grid-column: 2/3;
    display: flex;
    align-items: center;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
    line-height: 30%;
}

.dateMonth {
    font-size: .7rem;
    font-weight: 500;
}

.expenseName {
    grid-column: 3/4;
    display: flex;
    align-items: center;
}

.expenseAmount {
    grid-column: 4/5;
    display: flex;
    align-items: center;
}

.youBorrowed {
    grid-column: 5/6;
    color: orangered;
    font-weight: 600;
}

.youLent {
    grid-column: 5/6;
    color: green;
    font-weight: 600;
}

@media screen and (max-width: 650px) {
    .youBorrowed {
        display: flex;
        flex-direction: column;
        line-height: 30%;
    }

    .youLent {
        display: flex;
        flex-direction: column;
        line-height: 30%;
    }

    .text {
        font-size: 0.7rem;
    }
}

.grpFooter {
    width: 100%;
    display: flex;
    background-color: rgb(63, 164, 253);
    border-end-end-radius: 1vw;
    border-end-start-radius: 1vw;
    padding: 1.5% 5%;
    align-items: flex-end;
    justify-content: flex-end;
}

.grpFooter button {
    margin: 0 .5vw;
    padding: .5% 1%;
    border: none;
    border-radius: 0.5vh;
    background-image: linear-gradient(to right, #212B6C 0%, #3747aa 100%);

    border-bottom: 4px solid rgb(5, 5, 121);
    color: white;
    font-weight: bold;
}

.grpFooter button:active {
    background-image: linear-gradient(to right, rgb(5, 5, 121) 0%, rgb(5, 5, 121) 51%, rgb(5, 5, 121) 100%);
}