#customSection {
    min-height: 100vh;
    background: rgb(9,9,121);
    background: linear-gradient(45deg, rgba(9,9,121,1) 0%, rgba(57,57,180,0.9738489145658263) 22%, rgba(121,153,199,1) 51%, rgba(57,57,180,0.9738489145658263) 77%, rgba(9,9,121,1) 100%);
  }
  
  
  @media (min-width: 801px){
    #customCard {
      max-width: 65%;
      box-shadow: 0px 0px 30px black;
      font-family: Geneva,Tahoma,Verdana,sans-serif;
      background: rgb(252,252,254);
      background: linear-gradient(-45deg, rgba(252,252,254,0.9878545168067226) 10%, rgba(228,228,231,1) 50%, rgba(252,252,254,1) 90%);
    }
  }
  
  @media (min-width:501px) and (max-width: 900px) {
    #customCard {
      max-width: 75%;
      box-shadow: 0px 0px 30px black;
      font-family: Geneva,Tahoma,Verdana,sans-serif;
      background: rgb(252,252,254);
      background: linear-gradient(-45deg, rgba(252,252,254,0.9878545168067226) 10%, rgba(228,228,231,1) 50%, rgba(252,252,254,1) 90%);
    }
  }
  
  @media (max-width: 500px){
    #customCard {
      max-width: 85%;
      box-shadow: 0px 0px 30px black;
      font-family: Geneva,Tahoma,Verdana,sans-serif;
      background: rgb(252,252,254);
      background: linear-gradient(-45deg, rgba(252,252,254,0.9878545168067226) 10%, rgba(228,228,231,1) 50%, rgba(252,252,254,1) 90%);
    }
  }
  
  #customCard > div > h2 {
    font-family: Georgia,Times,Times New Roman,serif; 
    font-weight: bold;
  }

  #customCard > hr {
    border-top: 4px solid;
    opacity: .30;
    margin-bottom: 3vh;
  }
  
  #customBtn{
    border-radius: 25px;
    padding: 10px 50px;
  }