/******************************************* Importing Google Fonts ***********************************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@1&family=Ubuntu:wght@500&family=Lobster&family=Lato&family=Rubik:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************************************ For Navbar *******************************************************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff00;
}

.loginhead {
    width: 100%;
}

.align-items-center {
    display: flex;
    justify-content: space-around;
}

.nav_links {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 19px;
    color: #e6e6e6;
    text-decoration: none;
    background-color: #ffffff00;
    padding: 10px 20px 10px 20px;
    border: none;
    text-decoration: none;
}

.nav_links a:hover {
    color: rgb(185, 255, 255);
}

/******************************************** Authentication files *************************************************/

.auth-body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(0, 75, 136, 1) 0%, rgba(0, 180, 169, 1) 100%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;
    align-items: center;
}

.title {
    text-align: center;
    color: rgb(245, 244, 244);
    letter-spacing: 0.6vw;
    font-size: 3.2vw;
}

.box {
    width: 60%;
    padding-bottom: 7.5rem;
}

.auth-container {
    background-color: #FAF9F6;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(180, 180, 180);
    margin: 0rem auto;
    padding: 20px;
    width: 70%;
}

input[type=text],
input[type=password],
input[type=email],
input[type=phone] {
    border-radius: 10px;
    width: 100%;
    border: 1px solid rgb(145, 141, 141);
    padding-left: 1.5%;
    height: 7vh;
}

input[type=submit] {
    border-radius: 1rem;
}

#button {
    font-weight: bolder;
    border-color: none;
    color: #DCD6F7;
    background-color: #091ba2;
}

#button:hover {
    background-color: #DCD6F7;
    color: #091ba2;
}

@media(max-width:840px) {
    .box {
        width: 75%;
    }
}

@media(max-width:650px) {
    .box {
        width: 120%;
    }

    .title {
        font-size: 8vw;
    }
}

/******************************************** For login only ******************************************************/

.loginbox {
    padding-bottom: 7.5rem;
}

/********************************************* Profile files ******************************************************/

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.personal-info-field {
    background-color: #e1e1e1;
    padding: 10px;
    border-radius: 15px;
}

.profile-box-right {
    width: 50%;
    float: left;
    padding: 20px;

    text-align: center;
}

.profile-box-left {
    width: 50%;
    float: left;
    text-align: left;
}

.profile-list {
    list-style: none;
}

.friends {
    background-color: #e1e1e1;
    border-radius: 15px;
    justify-content: left;
    flex-direction: column;
    color: black;
    display: flex;
    height: 5%;
    align-items: center;
}

.avatar-friend {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    padding: 20px 20px 20px 20px;
}

.friend-name {
    padding-top: 10px;
    font-size: 25px
}

/******************************************** For expense only *****************************************************/

.item-list {
    list-style: none;
    background-color: #e1e1e1;
    border-radius: 15px;
    color: black;
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 5%;
    padding: 10px;
    align-items: left;
}

.item-field {
    color: #000000;
    text-align: left;
}

/******************************************** For profile only ******************************************************/

.personal-info {
    color: black;

    justify-content: left;
    height: 5%;
    padding: 5px 10px 25px 30px;
    align-items: left;
}

.payment {
    background-color: #e1e1e1;
    border-radius: 15px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 5%;
    padding: 10px;
    align-items: center;
}

.payment:hover {
    background-color: #f3f3f3;
}

.avatar {
    width: 40%;
    height: 40%;
    border-radius: 50%;
}

/******************************************* For index and faq ****************************************************/

.logo {
    font-size: 35px;
    font-weight: bold;
    color: #e6e6e6;
}

.card {
    border: none;
    margin: auto;
    margin-bottom: 3vh;
    opacity: 0.9;
    transition: transform 350ms ease;
    border-radius: 18px;
}

.card:hover {
    transform: scale(1.04);
}

.card-body {
    color: black;
}

/******************************************** For index only ******************************************************/

.picDiv {
    height: 78vh;
}

.home-body {
    background: rgb(0, 75, 136);
    background: linear-gradient(90deg, rgba(0, 75, 136, 1) 0%, rgba(0, 180, 169, 1) 100%);
}

.describe {
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1500316124030-4cffa46f10f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
}

#pic_btn {
    padding: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 1rem;
    color: black;
    font-weight: bold;
    background-color: #8BBCCC;
    border-radius: 2.2rem;
}

#pic_btn:hover {
    padding: 2rem;
}

#demo {
    color: rgb(36, 47, 155);
    font-size: larger;
}

/********************************************** For FAQ only ******************************************************/

.question {
    font-weight: bolder;
    font-size: large;
    padding-bottom: 0.5rem;
}

.bg-info-custom {
    background-color: #8BBCCC;
}

.faq-body {
    background: linear-gradient(90deg, rgba(0, 75, 136, 1) 0%, rgba(0, 180, 169, 1) 100%);
}

.container_custom {
    color: wheat;
    min-height: 100vh;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

/*************************************************** Footer ********************************************************/

.footer-div {
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer-div .logo {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: black;
    font-size: 0.8em;
}

.footer-div .logo a {
    color: black;
}


.footer-div .logo a:hover {
    color: #fff;
}

.footer-div .row a:hover {
    color: #fff;
}

.footer-div .logo a i {
    font-size: 2em;
    margin: 10px;
}

.footer-div .logo a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.footer-div .row a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.footer-div .row ul {
    width: 100%;
}

.footer-div .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

@media (max-width:720px) {
    .footer-div {
        text-align: left;
        padding: 5%;
    }

    .footer-div .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer-div .logo a i {
        margin: 0% 3%;
    }
}

.footer-div .logo {
    margin: 20px;
}

.footer-div .row {
    margin: 35px;
}

.footer-div .copyright {
    margin: 20px;
}

#hrTag {
    width: 100%;
}
