@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #e6e6e6;
    text-decoration: none;

    background-color: #ffffff00;
    padding: 10px 20px 10px 20px;
    border: none;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #ffffff00;
}

br {
    
}

.description {
    color: #e6e6e6;
    font-size: large;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    font-size: 40px;
    color: #e6e6e6;
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    text-decoration: none;
    color: #e6e6e6;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(185, 255, 255);
}

.title {
    text-align: center;
}

.title {
    text-align: center;
    color: #E94560;
}

.box{
    width: 60%;
}

.home-body {
    background: rgb(0,75,136);
    background: linear-gradient(90deg, rgba(0,75,136,1) 0%, rgba(0,180,169,1) 100%); 
}

.auth-body {
    background-color: #182747;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    padding: 1rem;
    align-items: center;
}

.auth-container{
    background-color: #FAF9F6;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(180, 180, 180);
    margin: 0rem auto;
    padding: 20px;
    width: 60%;
}

.avatar {
    width: 40%;
    height: 40%;
    border-radius: 50%;
}


.profile-box-right {
    width: 50%;
    float: left;
    padding: 20px;
    
    text-align: center;
}

.profile-box-left {
    width: 50%;
    float: left;
    text-align: left;
}

.profile-list {
    list-style: none;
}

.payment {
    background-color: #e1e1e1;
    border-radius: 15px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 5%;
    padding: 10px;
    align-items: center;
}

.personal-info {
    color: black;

    justify-content: left;
    height: 5%;
    padding: 5px 10px 25px 30px;
    align-items: left;
}

.payment:hover{
    background-color: #f3f3f3;
}

.friends {
    background-color: #e1e1e1;
    border-radius: 15px;
    color: black;
    display: flex;
    height: 5%;
    align-items: center;
}

.friend-name {
    padding-top: 10px;
    font-size: 25px
}

.avatar-friend {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    padding: 20px 20px 20px 20px;
}

#button{
    font-weight: bolder;
    border-color: none;
    color: #DCD6F7;
    background-color: #091ba2;
}

#button:hover{
    background-color: #DCD6F7;
    color: #091ba2;
}

input[type=text], input[type=password], input[type=email] {
    border-radius: 25px;
    width: 100%;
    border:1px solid black;
}

input[type=submit]{
    border-radius: 1rem;
}

@media(max-width:840px){
    .box{
       width: 75%; 
    }
}

@media(max-width:420px){
    .box{
        width: 120%; 
     }
}